{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
    <h2>In partnership with in:progress</h2>
    <p><a href="https://www.weareinprogress.no/">in:progress</a> is a team of diverse professionals with a common belief that matching relevant talents with relevant jobs is essential in designing an inclusive workforce.</p>
  </div>

  <!--div id="action-buttons">
    <a class="button primary big" href="https://github.com/jeblister/kube/releases" onclick="_gaq.push(['_trackEvent', 'kube', 'download']);">Download</a> <a class="button outline big" href="https://github.com/jeblister/kube" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Github</a>
    <p>Zip-archive, includes all the source and site example files</p>
  </div-->

  <div class="message focus" data-component="message"> <span class="close small"></span>
    The We Ignite Tech program is starting soon! Take a further look at the <a href="/docs/program-overview/">program's content</a> or visit our <a href="/faq/">faq</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Fullstack" height="48" src="{{ "/img/kube/icon-baseline.png" | relURL }}" width="48">
        </figure>
        <h3>Full Stack</h3>
        <p>The We Ignite Tech program helps people with a technical background to become operational full stack developer.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" height="48" src="{{ "/img/kube/icon-minimalism.png" | relURL }}" width="48">
        </figure>
        <h3>Accurate</h3>
        <p>The technologies and prosesses we teach are those of the tech community.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Team" height="48" src="{{ "/img/kube/icon-team.png" | relURL }}" width="48">
        </figure>
        <h3>Community</h3>
        <p>The students grow in a group and shape a new community.</p>
      </div>
    </div>
   <!-- Line #2 -->
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Soft-skills</h4>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <div class="col col-4 item">
        <h4>Portfolio</h4>
        <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.</p>
      </div>
      <div class="col col-4 item">
        <h4>Coaching</h4>
        <p>Sed ut perspiciatio laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
