{{ if .Site.Params.mainmodalwindow.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}

<!-- Modal -->
<div class="modal fade" id="mainModalWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header wit-modal">
        <h5 class="modal-title" id="exampleModalLongTitle">Info Corona virus</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body wit-modal">
        <p>The City of Oslo, has translated important informations about Corona virus. </p>
        <p>Here in these following languages (link to pdf document): </p>
        <br>
         <ul>
          <li> <a href="/files/pdf/corona/20-03-13-Informasjon-om-koronavirus--arabisk.pdf" class="">Info Corona virus (Arabic)</a> </li>
          <li> <a href="/files/pdf/corona/20-03-13-Informasjon-om-koronavirus--engelsk.pdf" class="">Info Corona virus (English)</a> </li>
         <li> <a href="/files/pdf/corona/20-03-13-Informasjon-om-koronavirus--polsk.pdf" class="">Info Corona virus (Polish)</a> </li>
         <li> <a href="/files/pdf/corona/20-03-13-Informasjon-om-koronavirus--somali.pdf" class="">Info Corona virus (Somali)</a> </li>
         <li> <a href="/files/pdf/corona/20-03-13-Informasjon-om-koronavirus--spansk.pdf" class="">Info Corona virus (Spanish)</a> </li>
         <li> <a href="/files/pdf/corona/20-03-13-Informasjon-om-koronavirus--tyrkisk.pdf" class="">Info Corona virus (Turkish)</a> </li>
         <li> <a href="/files/pdf/corona/20-03-13-Informasjon-om-koronavirus--urdu.pdf" class="">Info Corona virus (Urdu)</a> 
         </li>
       </ul>
      </div>
    </div>
  </div>
</div>

{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
